:root{
  --textcolor:#edecec;
  --background-color:#14120b;

  --card-bg:#1B1913;


}
*, *::before, *::after {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;

}
body{
  background-color: var(--background-color);
  color:var(--textcolor);

}


/* Header */

header{
  background-color: var(--background-color);
  width: 100%;
  height: 52px;
  padding-right:20px;
  padding-left: 20px;
  position: fixed;
  top: 0;

}

#logo img{
  width: 95.75px;
  height: 30.19px;
  

}

#header-main{
  width: 1300px;
  height: 52px;
  z-index: 2px;
  margin: 0px 90.400px 0px 90.400px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

}
nav{ 
  margin-left:6rem ;
}
.nav-li{
    padding: 14px 0px 14px 5px;
}

.nav-items{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;;
}
.nav-items li:hover{
  color:#d4cdcd;
  
}
.nav-items li{
  cursor: pointer;
  text-align: center;
  margin-right: 22px;
  text-wrap: tighter;
}

.nav-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

}

.seconday-btn{
  font-weight: 500;
  width: 68.18px;
  height:28.08px ;
  background-color: transparent;
  color: var(--textcolor);
  cursor: pointer;
  border: 1px solid #4c4c4c;;
  border-radius: 1rem;
  text-wrap: tighter;
  padding: 3.5px 10px 5.5px 10px;
 
}
.primary-btn{
  border: none;
  width:92.31px;
  height: 28.08px  ;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--textcolor);
  color: var(--background-color);
  border-radius: 1rem;
  text-wrap: tighter;
  padding: 4px 10px 5.5px 10px;
}

.seconday-btn:hover{
  background-color: #26251ebf;
}
.primary-btn:hover{
  background-color:#d4cdcd ;
  
}


/* Main section */
#main{
  /* border: 1px solid red; */
  min-height: 100vh;
  margin-left: 110.5px;
  margin-right:124.5px;

}

.section-1{
  margin-top: 10rem;
  width: 40rem;
}
.heading h1{
  font-weight:400;
  font-size:28px;
  text-wrap:tighter;

}
.cta-btn{
  font-size: 16px;
  font-weight: 500;
  background-color: #edecec;
  color:#14120B ;
  margin-top: 2rem;
  width: 240px;
  height: 48px;
  border-radius: 2rem;
  padding: 12px 21px 12px 21px;
  cursor: pointer;
}
.cta-btn svg{
  background-color: #edecec;
  color:#14120B;
  font-weight: 600;
}

.section-2 img{
  height: 680px;
  width: 1300px;
  margin-top:4rem ;
}

.section-3{
  margin-top: 3rem;
  text-align: center;
}

.all-cards{
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 1300px;
  height: 100px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* background-color: #1B1913; */
  gap: 10px;
  /* border: 1px solid red; */
  align-items: center;

}
.img-div{
  /* border: 1px solid red; */
  border:1px solid #24231f;
  border-radius: 8px;
  padding: 12px;
  width: 150.5px;
  height: 100px; 
  background-color: #1B1913; 
}

.brand-img{
  background-color: #1B1913; 
  width:5rem;
  height:5rem;

}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 685px;
  background-color: #1B1913; 
  padding: 17.5px;
  margin-bottom: 5rem;
  border-radius: 8px;
  
}

.box-1{
  padding: 1rem;
}
.box1, h2{
  font: 22px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.box-1 p{
  margin-top: 1rem;
  color:#f54e00; ;
}
#secondary-para{
  color: #8c8b8a;
  
}

.box-2 img{
  width: 840px;
  height: 650 ;
  border-radius: 8px;
}

/* Main Testimonial section-5 */
.testimonial-layout{
  width: 1300px;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* border: 1px solid red; */
  gap: 12px;
}

.testimonial-card{
  background-color:#1B1913 ;
  border-radius: 5px;
  width: 426px;
  height: 278px;
  padding: 1rem;
  border: 1px solid #24231f ;
}
.section-5 h2{
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
}
.personal-detail{
  height: 112px;
  /* border: 1px solid red; */
  margin-top: 3rem;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 1rem;
}
.personal-detail img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
figcaption{
    font-weight: 500;
    font-size: 14px;
}

.name-detail span{
  color: #8c8b8a;
  font-weight: 500;
  font-size: 14px;
}
.testimonial-card p{
  font-size: 16px;
  font-weight: 500;
}


/* Explore Section */
.section-6{
  width: 1300px;
  /* border: 1px solid red; */
}
.explore-temp{
  display: flex;  
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;

}
.explore-card{
  width: 424px;;
  background-color:#1B1913 ;
  padding: 18px 20px 14px 20px ;
  border: 1px solid #24231f ;
  border-radius: 5px;
}
.explore-card img{
  width: 383px;
  height: 383px;
  border-radius: 5px;

}

.explore-cta-btn{
  margin-top: 18px;
  margin-bottom: 32px;
}

.explore-card h3{
  font-size: 18px;
  font-weight: 600;

}
.explore-card span{
  font-size: 18px;
  font-weight: 600;
  color: #8c8b8a;
}
.explore-cta-btn a{
  text-decoration: none;
  font-weight: 400 ;
  color: #f54e00;
}

.update-layout{
  display: flex;
  height: 120px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 10px;
}
#update-btn{
  color: #f54e00;
  text-decoration: none;
  font-weight: 400 ;
}

.update-top-section span, time{
  color: #8c8b8a;
  font-weight: 500;
}
.update-top-section span{
  border: 1px solid  #8c8b8a;
  padding-right:10px;
  padding-left: 10px; 
  margin-right:1rem;
  border-radius: 3.40282e38px;
    border-top-left-radius: 3.40282e+38px;
    border-top-right-radius: 3.40282e+38px;
    border-bottom-right-radius: 3.40282e+38px;
    border-bottom-left-radius: 3.40282e+38px
}
.update-top-section{
  margin-bottom: 1rem;
}

.update-card{
  height: 120px;
  width: 317px;
  border-radius: 5px;
  background-color: #1B1913;
  border: 1px solid #24231f;
  padding: 15.9px 17.5px 20px;
}
.section-8{
  margin-bottom: 5rem;
  width: 1300px;
  margin-top: 10rem;
}
.section-8 h2{
  font-size: 38px;
  font-weight:400;
}
.section-8 button{
  width: 110px;
  height: 44px;
  padding: 8px 21px 12px 21px;
  background-color: #edecec;
  color: #14120B;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2rem;
  text-align: center;
  margin-bottom:5rem ;
  margin-top: 1rem;
}
.final-big-img img{
  width:1300px ;
}

.last-final{
  width: 100%;
  background-color:#1B1913;
  margin-bottom: 5rem;
}

.layout{
  width: 1500px;
  height: 650px;
  /* border: 1px solid red; */
  padding: 89px 10px 0px 100px;
  display: flex;

}
.vertical-more{
  /* border: 1px solid red; */
  padding: 12px 50px 23px 100px;
}

.card{
  width: 650px;
  height: 140px;
  background-color: #201E18;
  border: 1px solid #282724;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;

}
.secondary-para{
  font-weight: 500;
  color: #8c8b8a;
}
.primary-para{
  font-weight: 500;
}
.product-time{
  margin-top: 20px;
}
.ancore-btn{
    text-decoration: none;
  font-weight: 400 ;
  color: #f54e00;
}
.cta-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.cta-section h2{
  font-size: 72px;
  font-weight: 600;
}
.links{
  height: 420px;
  background-color:#1B1913;
  padding: 62px 20px 12px 20px;
 


}
.links-layout{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
  gap: 1rem;
   text-align: center;
  
}

.links-layout ul li{
  list-style: none;
  padding: 4px;
}
.copy-right{
  padding: 64px 172px 10px 72px;
  margin-top: 2rem;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-right button, select{
  font-weight: 500;
  width: 80.18px;
  height:30.08px ; 
  background-color: #201E18;
  border: 1px solid #282724;
  color: var(--textcolor);
  cursor: pointer;
  border: 1px solid #4c4c4c;;
  border-radius: 1rem;
  padding: 3.5px 4px 5.5px 8px;
  text-align: center;
  
 
}